{% extends "base.html" %} {% block content %}

<h3>Job Description</h3>
<form method="POST">
  <textarea
    name="jd"
    rows="8"
    cols="90"
    placeholder="Paste the Job Description here..."
  ></textarea>

  <h3>Candidate Resume</h3>
  <textarea
    name="resume"
    rows="8"
    cols="90"
    placeholder="Paste the Resume here..."
  ></textarea>

  <br /><br />
  <button type="submit">Analyze Resume</button>
</form>

{% if clean_jd %}
<hr />
<h3>Cleaned Job Description</h3>
<p>{{ clean_jd }}</p>
{% endif %} {% if clean_resume %}
<hr />
<h3>Cleaned Resume</h3>
<p>{{ clean_resume }}</p>
{% endif %} {% endblock %}
